<% provide(:title, "Edit Profile") %>
<h1>Edit Profile</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'form', url: edit_user_path(@user), text: 'Update Profile' %>

        <div class="gravatar_edit">
          <%= gravatar_for @user %>
          <a href="http://gravatar.com/emails" target="_blank" rel="noopener">Change Gravatar</a>
        </div>
      </div>
    </div>
  </div>
</div>