<% provide(:title, "Create Character") %>
<h1>Create Character</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= render 'form', character: @character, text: 'Create Character' %>
      </div>
    </div>
  </div>
</div>